.footer--link.svelte-3boz52 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  line-height: 150%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.footer--link.svelte-3boz52:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .footer--link.svelte-3boz52 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
